################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlackHole.Lite/obj
/BlackHole.Lite/bin/Debug
/BlackHole.Lite/.vs/BlackHole.Lite
/.vs
